html,
body {
    font-size: 12px;
    /*font-family: 'Roboto', sans-serif !important;*/
    /*font-weight: 500;*/
    font-family: 'Gotham A1', sans-serif !important;
    font-weight: 600;
}

header {
    /*position: fixed;*/
    /*top: -45px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 150px;*/
}

main {
    margin-top: 0;
}

table,
tbody,
tr,
td,
th {
    border-spacing: 0;
}

main .resumenDeServicio {
    border: 2px solid #3ec6f1;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 0.3rem 0.7rem;
}

main .resumenDeServicio h3 {
    margin-top: 0;
    text-align: center;
    padding: 0.5rem;
    background: #3ec6f1;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*main .resumenDeServicio .columna1,*/
/*main .resumenDeServicio .columna2 {*/
    /*padding: 0.5rem 0;*/
/*}*/

/*main .resumenDeServicio .columna1 ul,*/
/*main .resumenDeServicio .columna2 ul {*/
    /*margin-bottom: 0;*/
    /*padding-left: 1rem;*/
/*}*/

/*main .resumenDeServicio .columna1 ul li,*/
/*main .resumenDeServicio .columna2 ul li {*/
    /*margin-bottom: 0.5rem;*/
/*}*/

main .resumenDeServicio .columna1 {
    border-right: 1px solid #3ec6f1;
}

main .resumenDeServicio ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

main .direcciones {
    margin-top: 1rem;
    position: relative;
    border: 2px solid #3ec6f1;
    border-radius: 10px;
    margin-bottom: 1rem;
    border-spacing: 1px;
}

main .direcciones .titulos {
    background: #3ec6f1;
    margin: -0.7rem -0.7rem 0 -0.7rem;
}

main .direcciones .titulos h3 {
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

/*main .direcciones .descargas {*/
    /*margin-left: 3%;*/
/*}*/

main .direcciones .cargas {
    border-right: 1px solid #3ec6f1;
}

main .direcciones .cargas,
main .direcciones .descargas {
    padding: 0.7rem;
    font-size: 0.8rem;
}

/*main .direcciones .cargas .direccion,*/
/*main .direcciones .descargas .direccion {*/
    /*width: 100%;*/
/*}*/

main .direcciones .cargas .direccion ul,
main .direcciones .descargas .direccion ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

main .direcciones .cargas .direccion ul li,
main .direcciones .descargas .direccion  ul li {
    margin-bottom: 0.3rem;
}

/*main .direcciones .cargas .direccion .imagen,*/
/*main .direcciones .descargas .direccion .imagen {*/
    /*margin-left: 9%;*/
/*}*/

main .direcciones .cargas .direccion .imagen img,
main .direcciones .descargas .direccion .imagen img {
    max-height: 75px;
}

/*main .direcciones .cargas .ascensor,*/
/*main .direcciones .descargas .ascensor {*/
    /*width: 100%;*/
/*}*/

main .direcciones .cargas .ascensor .opciones span,
main .direcciones .descargas .ascensor .opciones span {
    padding: 0.2rem 1rem;
    border: 1px solid #3ec6f1;
    border-radius: 30px;
}

/*main .direcciones .cargas .observaciones,*/
/*main .direcciones .descargas .observaciones {*/
    /*width: 100%;*/
/*}*/

main .direcciones .cargas hr,
main .direcciones .descargas hr {
    border-color: #3ec6f1;
}

main .direcciones .separador {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    border-left: 2px solid #3ec6f1;
}

main .visita {
    page-break-after: always;
    width: 100%;
    height: auto;
    border: 1px solid #3ec6f1;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 0.7rem;
}

main .visita textarea {
    background-image: linear-gradient(transparent, transparent 24px, #E7EFF8 0px);
    background-size: 100% 25px;
    border:none;
    height:670px;
    width: 100%;
    overflow:hidden;
    line-height:25px;
    resize: none;
}

main .mudanzas {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.7rem;
}

main .mudanzas {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

main .mudanzas thead {
    background: #3ec6f1;
}

main .mudanzas thead tr {
    color: black;
    font-weight: 800;
}

main .mudanzas thead tr th {
    border: none;
    padding: 0.3rem 0.8rem;
    text-align: center;
    font-size: 0.8rem;
}

main .mudanzas thead tr th:first-child {
    border-top-left-radius: 15px;
}

main .mudanzas thead tr th:last-child {
    border-top-right-radius: 15px;
}

main .mudanzas tbody {

}

main .mudanzas tbody tr {
    color: black;
}

main .mudanzas tbody tr td {
    padding: 0.5rem 1rem;
    border: 2px solid #3ec6f1;
}

main .mudanzas tbody tr td:first-child {
    font-weight: 800;
}

main .fechas {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

main .fechas hr {
    border: 1px dashed black;
}

main .fechas h4 {
    font-weight: 300;
}


main .fechas .columna2 h4 {
    margin-left: 0.5rem;
}

main .generales {
    width: 100%;
    margin-top: 1rem;
}

main .generales h2 {
    font-weight: 800;
}

main .generales .texto {
    border-radius: 15px;
    padding: 0 1rem;
}

main .generales .texto p {
    font-size: 1rem;
}