div {
    page-break-inside: avoid;
}

body {
    font-size: 14px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
}

table,
tbody,
tr,
td,
th {
    border-spacing: 0;
}

.header {
    border: 2px solid #3ec6f1;
    border-radius: 10px;
    position: relative;
    padding: 0;
}

.header .logo {
    padding: 0.5rem 1rem;
}

.header .logo .imagen {
}

.header .logo .imagen img {
    max-height: 35px;
}

.header .logo ul {
    list-style-type: none;
    padding-left: 0;
}

.header .separador {
    text-align: center;
}

.header .separador .x {
    background: #3ec6f1;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header .separador .linea {
    border-left: 2px solid #3ec6f1;
    height: inherit;
    margin-left: 50%;
}

.header .datos {
    padding: 0.5rem 1rem;
    margin-left: 15%;
}

.header .datos ul {
    list-style-type: none;
    margin-bottom: 0;
}

.header .datos ul li {
}

.header .datos ul li span {

}

.informacion {
    margin-top: 1rem;
    border: 2px solid #3ec6f1;
    border-radius: 10px;
}

.informacion .columna1 {
    padding: 0.5rem 1rem;
    border-right: 2px solid #3ec6f1;
}

.informacion .columna1 ul,
.informacion .columna2 ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.informacion .columna2 {
    padding-left: 2rem;
}

.informacion .columna1 ul li,
.informacion .columna2 ul li {
    padding-bottom: 0.2rem;
}

.direcciones {
    width: 100%;
    margin-top: 1rem;
    position: relative;
    border: 2px solid #3ec6f1;
    border-radius: 10px;
}

.direcciones .titulos {
    background: #3ec6f1;
    border: 1px solid #3ec6f1;
    border-radius: 10px 0 10px 0;
}

.direcciones .titulos h2 {
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.direcciones .cargas,
.direcciones .descargas {
    padding: 0.5rem 1rem;
}

.direcciones .descargas {
    border-left: 2px solid #3ec6f1;
    padding-left: 2rem;
}

.direcciones .cargas .direccion,
.direcciones .descargas .direccion {
    width: 100%;
}

.direcciones .cargas .direccion ul,
.direcciones .descargas .direccion ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.direcciones .cargas .direccion .imagen,
.direcciones .descargas .direccion .imagen {
    margin-left: 9%;
}

.direcciones .cargas .direccion .imagen img,
.direcciones .descargas .direccion .imagen img {
    max-height: 60px;
}

.direcciones .cargas hr,
.direcciones .descargas hr {
    border-color: #3ec6f1;
}

.conceptos {
    margin-top: 1rem;
    position: relative;
    padding: 0.7rem;
    table-layout: fixed;
    overflow: hidden !important;
    perspective: 1px;
    border-spacing: 2px;
}

.conceptos thead tr,
.conceptos thead {
    overflow: hidden !important;
    perspective: 1px;
}

.conceptos thead tr th {
    background: #3ec6f1;
    font-weight: 700;
    text-align: center;
    overflow: hidden !important;
    perspective: 1px;
}

.conceptos thead tr th.concepto {
    border-radius: 20px 0 0 0 !important;
    overflow: hidden !important;
    perspective: 1px;
}

.conceptos thead tr th.importe {
    border-radius: 0 20px 0 0 !important;
    overflow: hidden !important;
    perspective: 1px;
}

.conceptos tbody tr td {
    border-bottom: 1px solid #ddd;
}

.visita {
    position: relative;
    padding: 0.7rem;
}

.visita .presupuesto {

}

.visita .programada {
    border: 2px solid #3ec6f1;
    border-radius: 15px;
}

.visita .programada h4 {
    background: #3ec6f1;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -0.3rem -0.2rem;
    padding: 0.2rem;
}

.visita .programada .horario {
    padding: 1rem 0.3rem;
    overflow: hidden;
}

.visita .programada .horario span {
}

.visita .presupuesto {
    border: 2px solid #3ec6f1;
    border-radius: 15px !important;
    margin-bottom: 1rem;
    overflow: hidden !important;
    perspective: 1px !important;
}

.visita .presupuesto .nombre,
.visita .presupuesto .total {
    font-size: 1.2rem;
    text-align: center;
}

.visita .presupuesto .nombre {
    background: #3ec6f1;
    font-weight: 600;
    /*border-radius: 15px 0 0 15px;*/
    padding: 0.5rem;
    margin-left: -0.3rem;
}

.visita .presupuesto .total {
    background: transparent;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*main .visita .presupuesto ul {*/
/*list-style-type: none;*/
/*padding: 1rem 0.3rem;*/
/*margin-top: 0;*/
/*margin-bottom: 0;*/
/*}*/

/*main .visita .presupuesto ul li {*/
/*font-size: 1rem;*/
/*}*/

/*main .visita .presupuesto ul li span {*/
/*float: right;*/
/*}*/

.alerta {
    width: 100%;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    font-size: 1rem;
}

.bases {
    width: 100%;
    margin-top: 1rem;
    padding: 0.7rem;
    border: 2px solid #3ec6f1;
    border-radius: 15px;
}

.bases h4 {
    background: #3ec6f1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -0.8rem;
    padding: 0.3rem;
}

.bases p {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.bases p span {
    font-size: 1rem !important;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 21cm;
}