html,
body {
    font-size: 14px;
    /*font-family: 'Roboto', sans-serif !important;*/
    /*font-weight: 500;*/
    font-family: 'Gotham A1', sans-serif !important;
    font-weight: 600;
}

header {
    position: fixed;
    top: -30px;
    left: 0;
    right: 0;
    height: 150px;
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0;
    height: 150px;
}

main {
    margin-top: 50px;
}

table,
tbody,
tr,
td,
th {
    border-spacing: 0;
}

hr {
    border: 5px solid #ddd;
    /*width: 50%;*/
    /*margin-left: 25%;*/
}

.resumenDeServicio {
    border: 2px solid #3ec6f1;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.resumenDeServicio h3 {
    margin: -0.1rem -0.1rem 1rem;
    text-align: center;
    padding: 0.5rem;
    background: #3ec6f1;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.resumenDeServicio ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

.resumenDeServicio ul li {
    font-size: 0.9rem;
}

.direcciones {
    position: relative;
    margin-bottom: 1rem;
}

.direcciones .desde {
    margin-right: 8%;
}

.direcciones .desde .direccion .imagen,
.direcciones .hasta .direccion .imagen {
    margin-right: 7%;
}

.direcciones .desde .direccion .imagen img,
.direcciones .hasta .direccion .imagen img {
    max-height: 100px;
}

.direcciones .desde .direccion .informacion h4,
.direcciones .hasta .direccion .informacion h4 {
    font-weight: 800;
}

.direcciones .desde .direccion .informacion ul,
.direcciones .hasta .direccion .informacion ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: 600;
}

.direcciones .desde .direccion .informacion hr,
.direcciones .hasta .direccion .informacion hr {
    border-color: #3ec6f1;
}

.direcciones .desde .direccion .informacion .observaciones,
.direcciones .hasta .direccion .informacion .observaciones {
    font-weight: 600;
}

.direcciones .separador {
    border-left: 2px solid #3ec6f1;
    height: 100%;
    left: 50%;
    top: 0;
    position: absolute;
}

.direcciones .hasta {
    margin-left: 8%;
}

.visita {
    width: 100%;
    /*border: 2px solid #3ec6f1;*/
    border-radius: 15px;
    margin-bottom: 1rem;
}

.visita h3 {
    margin-top: 0;
    text-align: center;
    padding: 0.5rem;
    background: #3ec6f1;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.visita h3 .linea {
    padding-left: 1rem;
    padding-right: 1rem;
}

.visita .adicionales,
.visita .observaciones {
    padding: 0.5rem 1rem;
}

.visita .adicionales .elemento,
.visita .observaciones .elemento {
    margin-bottom: 0.5rem;
}

.visita .adicionales .elemento .nombre,
.visita .observaciones .elemento .nombre {
    text-align: center;
}

.visita .adicionales .elemento .nombre h4,
.visita .observaciones .elemento .nombre h4 {
    font-weight: 600;
    margin-top: 0;
}

.visita .adicionales .elemento .nombre img,
.visita .observaciones .elemento .nombre img {
    max-height: 100px;
}

.visita .adicionales .elemento .descripcion hr,
.visita .observaciones .elemento .descripcion hr {
    border-color: #3ec6f1;
}

.visita .adicionales .elemento .observaciones hr,
.visita .observaciones .elemento .observaciones hr {
    width: 100%;
    border-color: #ddd;
}

.generales {
    width: 100%;
    margin-top: 1rem;
}

.generales h2 {
    font-weight: 800;
}

.generales .texto {
    border-radius: 15px;
    padding: 0 1rem;
}

.generales .texto p {
    font-size: 1rem;
}